[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
robotframework-requests = "*"
flask = "*"
jsonschema = "*"
robotframework = "*"

[dev-packages]

[requires]
python_version = "3.9"
